.container-style {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.table-style {
//   background-color: white;
//   color: black;
}
.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }